.container {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 1em auto;
  border: 0.5em solid black;
  border-radius: 50%;
  background-color: rgb(176,196,222);
}

#low-usage {

}

.thermostat-elements {
  margin: auto;
  width: 0;
  height: 0;
  position: relative;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 70px solid red;
}

#toptriangle {
  top: 130px;
}

#bottomtriangle {
  top: 115px;
  border-bottom: 0px;
  border-top: 70px solid red;
}

#tempreading {
  margin: 0 auto;
  font-size: 100px;
  text-align: center;
  position: relative;
  top: 120px;
}