<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link href="../public/style/style.css"     rel="stylesheet" type="text/css" >

  <title>Pthermostat</title>

</head>
<body>
  
  <section id="left">
    <h1>??</h1>
    <p> + </p> <p> - </p> <p> reset </p>
    <p>power saving mode</p>
    <p id="on-button"></p>
    <p id="off-button"></p>
  </section>

  <section id="right">
    <div class="degrees-container">
      <svg version="1.1" viewBox="0 0 1000 1000" preserveAspectRatio="xMinYMin meet" class="svg-content">
        <text id="text-img" x="0" y="15" fill="red" transform="rotate(90 10, 10)">Degrees</text>
      </svg>
    </div>
  </section>

</body>
</html>